h1{
    background-color: white;
    font-family: sans-serif;
    width: 700px;

}
nav li {
    display: inline;
    float: right;

}
nav li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
}
nav li a:hover{
    background-color: darkgrey;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.enca{
    padding: 20px;
    margin-top: 10px;
    background-image: url("img/ivana-cajina-dQejX2ucPBs-unsplash.jpg");
    background-size: 3000px 3000px;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    font-family: sans-serif;

}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 280px;
    background-color: antiquewhite;




}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;


}

body{
    background-color: white;
}

#lutra{
    position: relative;
    left: 900px;
    bottom: 500px;
}
#rhino{
    position: relative;
    left: 450px;
    bottom: 1000px;
}
#biblio{
    background-color: lightgrey;
    height: 200px;
}
footer{
    background-color: black;
    color: white;
}
#segueix{
    position: relative;
    left: 1000px;
    bottom: 180px;
}